ul{
    list-style-type: none;
    align-self: flex-start;
    display: inline-block;
}

li{
    width: 10vw;
    text-align: center;
    padding: 15px;
    vertical-align: center;
}

li:hover{
    background-color: coral;
}

li:active{
    background-color: darkgray;
}